//Ensemble des variables css du site.

/*----------------HEADER----------------*/

$background-color-header: #5c5470;
$color-header-link: #dbd8e3;
$font-family-header: Merriweather, serif;

/*----------------HOME----------------*/
$background-color-home: #dbd8e3;
$color-home-text: #2a2438;
$color-home-button: #2a2438;
$color-home-button-text: #dbd8e3;
$color-home-button-hover: #5c5470;
$font-familly-home: MontSerrat, serif;
