//Ensemble des variables css du site.

/*----------------GLOBAL----------------*/

$background-color-global: #6ebdb2;

/*----------------HEADER----------------*/

$background-color-header: #ea545400;
$background-color-header-hover: #273d57;

$color-header-link: #000;
$color-header-link-hover: #f9f5eb;
$font-family-header: Montserrat, serif;

$aniamtion-appear-header: appear 0.7s ease-in-out 1s forwards;
$animation-font-size-up-header: font-size-up-header 0.3s ease-in-out forwards;

/*----------------HOME----------------*/
$background-color-home: transparent;
$background-color-trigger: transparent;

$color-home-text: #000;
$color-home-button: #fff;
$color-home-button-text: #000;
$color-home-button-hover: #f4dfd0;

$font-familly-home: MontSerrat, serif;

$animation-appear-home: appear 0.7s ease-in-out 1s forwards;
$animation-size-up-home: size-up 0.7s ease-in-out 0.2s forwards;
$animation-slide-right-home: slide-right 0.7s ease-in-out 1s forwards;
$animation-slide-left-home: slide-left 0.7s ease-in-out 1s forwards;
$animation-font-size-up-home: font-size-up 0.3s ease-in-out forwards;

/*----------------ABOUT ME----------------*/
