//Ensemble des variables css du site.

/*----------------COLORS----------------*/
$beige: #f1ece1;
$dark-beige: #cabdae;
$blue-green: #6ea8b3;
$dark-blue: #273d57;
$blue-sky: #94b7d4;
$dark-blue-sky: #238db8;
$black: #000;
$white: #fff;
$transparent: transparent;

/*----------------ANIMATION----------------*/
$appear: appear 0.7s ease-in-out 1s forwards;
$boxup: boxup 0.5s ease-in-out forwards;
$progress-opacity: progress-opacity 1s ease-in-out forwards;
$slide-left: slide-left 0.7s ease-in-out 1s forwards;
$slide-right: slide-right 0.7s ease-in-out 1s forwards;

/*----------------FONT----------------*/
$font-family-titles: MontSerrat, sans-serif;
$font-family-texts: Merriweather, sans-serif;

/*----------------GLOBAL----------------*/

$background-color-global: $blue-green;

/*----------------HEADER----------------*/

$background-color-header: $dark-blue;
$background-color-cross: $dark-beige;

$color-header-link: $black;
$color-header-link-burger: $beige;

/*----------------HOME----------------*/
$background-color-home: $transparent;
$background-color-home-before: $beige;
$background-color-option-container: $beige;
$background-color-option-container-dark: $dark-beige;
$background-color-trigger: $transparent;

$color-home-text: $black;
$color-home-option: $black;

/*----------------BINDER----------------*/

$background-color-binder-tab: $blue-sky;
$background-color-binder-selected: $dark-blue-sky;
$background-color-binder-info-container: $dark-blue;

/*----------------ABOUT ME----------------*/

$background-color-aboutMe-box: $beige;
$background-color-aboutMe-trigger-container: $blue-green;
$background-color-aboutMe-trigger-container-hover: $blue-sky;

$font-family-aboutMe: MontSerrat, sans-serif;

/*----------------PROJECTS----------------*/

$background-color-projects-info-container2: $blue-sky;

$color-projects-title: $beige;

/*----------------CONTACT----------------*/

$background-color-contact: $dark-blue;
$backgrouns-color-button: $dark-blue-sky;
$backgrouns-color-button-hover: $blue-sky;
$background-color-contact-form: $beige;

$color-contact: $beige;
$color-contact-button-hover: $dark-blue;

/*----------------FOOTER----------------*/

$color-footer: $beige;
