.aboutMe {
    height: 100vh;

    .presentation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 3rem;
        background-color: #e4dccf;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3),
            0 5px 15px rgba(0, 0, 0, 0.2) inset;
        position: relative;
        overflow: hidden;

        .img-container {
            z-index: 2;
            .portrait {
                width: 80%;
                height: 80%;
                border-radius: 50%;
            }
        }

        .description {
            width: 50vw;
            text-align: center;
            font-size: 2em;
            z-index: 2;
        }
    }

    .presentation::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 75vw;
        height: 50vh;
        background-color: #f9f5eb62;
        transform: translate(calc(-17.2% + var(--offsetX, 0)), -50%)
            rotate(45deg);
        z-index: 1;
    }

    .timeline {
        display: flex;
        flex-direction: column;
        margin: 8em 0;

        .title {
            text-align: center;
            font-size: 2em;
            margin-bottom: 2vh;
        }

        .content {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .box {
                position: relative;
                background-color: #ffffff;
                border-radius: 5px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
                padding: 20px;
                font-size: 1.1em;
                color: #333;
                max-width: 15vw;
                text-align: center;
                line-height: 1.5;
                margin-bottom: 2vh;
            }
            .box::before {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 50%;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #ffffff;
                transform: translateX(-50%);
            }
        }

        .line {
            margin-right: 1vw;
            height: 0.5vh;
            width: 99.74%;
            position: relative;
            background: #ea5455;
        }

        .line::before,
        .line::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            background: #ea5455;
            height: 0.5vh;
            width: 2.5vw;
        }

        .line::before {
            transform: rotate(55deg);
            transform-origin: right bottom;
        }

        .line::after {
            transform: rotate(-55deg);
            transform-origin: right top;
        }

        .years {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .box-container {
                width: 15em;

                .box {
                    position: relative;
                    background-color: #ffffff;
                    border-radius: 5px;
                    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.5);
                    padding: 20px;
                    font-size: 1.1em;
                    color: #333;
                    max-width: 15em;
                    text-align: center;
                    line-height: 1.5;
                    margin-top: 2vh;
                }
                .box::before {
                    content: "";
                    position: absolute;
                    top: -10px;
                    left: 50%;
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid #ffffff;
                    transform: translateX(-50%);
                }
            }
        }
    }

    .skills {
        .title {
            text-align: center;
            font-size: 2em;
            margin-bottom: 2vh;
        }

        .skills-box {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .frontend,
            .backend,
            .autres {
                background-color: #ffffff;
                border-radius: 5px;
                box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.5);
                padding: 20px;
                color: #333;
                margin: 2vh;
                .logo-box {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 300px;

                    .logo-link {
                        margin: 10px;

                        .logo {
                            width: 70px;
                            height: 70px;
                        }
                    }
                }
            }
        }
    }
}
