.aboutMe {
    font-family: Montserrat, serif;

    .presentation {
        display: flex;
        flex-direction: row;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
        line-height: 4em;
        font-weight: 500;
        margin: 2em 3em;
        height: 40em;

        .img-container {
            display: flex;
            align-items: center;
            .portrait {
                border-radius: 50%;
                height: 35em;
            }
        }

        .description {
            width: 60%;
            text-align: center;
            font-size: 2.3em;
        }
    }

    .bottom-container {
        display: flex;
        flex-direction: row;

        .timeline {
            width: 30%;
            height: 25em;
            border: 2px solid black;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            border-radius: 10px;

            font-size: 2em;
            margin: 1em 2em;

            background-color: white;
            .trigger-container {
                margin: 0.5em;
                padding: 1em 0;
                background-color: gray;
                border-radius: 10px;
                cursor: pointer;

                .time {
                    font-weight: 600;
                }
                .description {
                    margin: 0.5em;
                }
            }
        }

        .skills {
            width: 70%;
            height: 33.2em;
            border: 2px solid black;
            border-radius: 10px;
            font-size: 1.5em;
            margin: 1.4em 2em;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: white;

            .frontend,
            .backend,
            .tools {
                display: flex;
                flex-direction: column;
                .title {
                    font-size: 1.6em;
                    font-weight: 600;
                    margin: 0.5em;
                    text-align: center;
                }

                .logo {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    .logoFront,
                    .logoBack,
                    .logoTools {
                        width: 5em;
                        height: 5em;
                        margin: 1em;
                    }
                }
            }
        }
    }
}

.Express {
    width: 7em !important;
}
