.aboutMe {
    width: 100%;
    font-family: Montserrat, serif;

    .presentation {
        display: flex;
        flex-direction: row;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
        line-height: clamp(1.5em, 2vw, 4em);
        font-weight: 500;
        margin: 2em 3em;

        .img-container {
            display: flex;
            align-items: center;
            .portrait {
                border-radius: 50%;
                height: clamp(10em, 28vw, 40em);
                padding-bottom: 0.5em;
            }
        }

        .description {
            width: 60%;
            text-align: center;
            font-size: clamp(1em, 1.5vw, 2.5em);
        }
    }

    .bottom-container {
        display: flex;
        flex-direction: row;

        .timeline {
            width: 30%;
            border: 2px solid black;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            border-radius: 10px;

            font-size: clamp(1em, 1.5vw, 2em);
            margin: 1em 2em;

            background-color: white;
            .trigger-container {
                margin: 0.5em;
                padding: 1em 0;
                background-color: gray;
                border-radius: 10px;
                cursor: pointer;

                .time {
                    font-weight: 600;
                }
                .description {
                    margin: 0.5em;
                }
            }
            .modal-title {
                font-size: clamp(1em, 1.5vw, 2.5em);
                font-weight: 600;
                margin: 0.5em;
            }
        }

        .skills {
            width: 70%;
            border: 2px solid black;
            border-radius: 10px;
            font-size: 1.5em;
            margin: 1.4em 2em;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: white;

            .frontend,
            .backend,
            .tools {
                display: flex;
                flex-direction: column;
                .title {
                    font-size: clamp(1em, 1.5vw, 4em);
                    font-weight: 600;
                    margin: 0.5em;
                    text-align: center;
                }

                .logo {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    .logoFront,
                    .logoBack,
                    .logoTools {
                        width: clamp(2em, 4vw, 6em);
                        height: clamp(2em, 4vw, 6em);
                        margin: 1em;
                    }
                }
            }
        }
    }
}

.Express {
    width: clamp(2em, 5vw, 9em) !important;
}

@media screen and (max-width: 991px) {
    .aboutMe {
        .presentation {
            flex-direction: column;
            .img-container {
                .portrait {
                    height: clamp(10em, 28vw, 40em);
                }
            }
            .description {
                width: 100%;
                margin: 2em;
                padding: 0 1.5em;
                line-height: clamp(1.5em, 2vw, 4em);
            }
        }
        .bottom-container {
            flex-direction: column;
            align-items: center;
            .timeline {
                width: 70%;
                margin: 1em 0;
            }
            .skills {
                height: 40%;
                margin: 1em 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                .logo {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }

    .ui.header.header-modal {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6em;
        width: 100%;
        top: -50%;
        right: 0%;
        line-height: 2em;

        h1.modal-title {
            margin: 0;
        }
    }

    i.close.icon::before {
        position: relative;
        top: -700%;
        right: -160%;
        color: white;
    }
}

@media screen and (max-width: 768px) {
    .ui.header.header-modal {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 6em;
        width: 100%;
        top: -55%;
        right: 0%;
        line-height: 2em;

        h1.modal-title {
            margin: 0;
        }
    }

    i.close.icon::before {
        position: relative;
        top: -700%;
        right: -100%;
        color: white;
    }
}

@media screen and (max-width: 500px) {
    .aboutMe {
        .presentation {
            .description {
                font-size: clamp(1em, 3.5vw, 4em);
            }
        }

        .bottom-container {
            .skills {
                height: 70%;
                .frontend,
                .backend,
                .tools {
                    .logo {
                        .logoFront,
                        .logoBack,
                        .logoTools {
                            width: clamp(2em, 4vw, 6em);
                            height: clamp(2em, 4vw, 6em);
                            margin: 1em;
                        }
                    }
                }
            }
        }
    }

    .content {
        margin-top: 2em;
    }

    .ui.header.header-modal {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 6em;
        width: 100%;
        top: -35%;
        right: 0%;
        line-height: 2em;

        h1.modal-title {
            margin: 0;
            font-size: 1.3em;
        }
    }

    i.close.icon::before {
        position: relative;
        top: -600%;
        right: -80%;
        color: white;
    }
}

@media screen and (max-width: 376px) {
    .ui.header.header-modal {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 7em;
        width: 100%;
        top: -30%;
        right: 0%;
        line-height: 2em;

        h1.modal-title {
            margin: 0;
            font-size: clamp(1.2em, 1vw, 1.5em);
        }
    }
}
