.binder {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .binder-container {
        width: 200em;
        height: 120em;
        display: flex;
        flex-direction: row;
        //border: 2px solid black;

        .binder-tab {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 6em;

            .aboutMe-tab {
                .text {
                    padding-bottom: 0.5em;
                }
            }

            .project-tab {
                .text {
                    padding-top: 0.3em;
                }
            }

            .text {
                display: inline-block;
                position: relative;
                text-align: center;
                left: -25%;
                font-size: 3em;
                transform: rotate(-90deg);
                width: 5em;
                white-space: nowrap;
            }
        }
        .binder-tab > * {
            background-color: #cec4a9;
            width: 100%;
            height: 50%;
            display: flex;
            align-items: center;
            clip-path: polygon(0 16%, 100% 0, 100% 100%, 0 83%);
        }

        .info-container {
            background-color: #beb7a2;
            width: 100%;
        }
    }
}
