.footer {
    height: 16vh;
    background-color: #273d57;
    color: #fff;
    display: flex;
    align-items: center;
    font-family: Montserrat, sans-serif;

    .box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .box-top {
            font-size: 3em;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 30vw;
            border-bottom: 1px solid #fff;
            padding: 1em;

            .return {
                .arrowUp {
                    width: 2em;
                    height: 2em;
                    cursor: pointer;
                }
            }

            .myname {
                font-size: 1.5em;
            }

            .link {
                .logo-container {
                    display: flex;
                    justify-content: center;
                    gap: 1em;
                    .logo {
                        width: 2em;
                        height: 2em;
                    }
                }
            }
        }
        .copyright {
            font-size: 1.5em;
            text-align: center;

            margin: 2vh 0;
        }
    }
}
