@use "../styles/vars" as vars; // import des variables css

.home {
    background-color: vars.$background-color-home;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: vars.$font-familly-home;

    .trigger-container {
        .trigger {
            width: 15vw;
            height: 5vh;
            background-color: #fff;
            border: none;
            font-size: 10em;
            font-weight: bold;
            opacity: 0;
            font-family: vars.$font-familly-home-trigger;
            animation: vars.$animation-size-up-home;
        }
        .trigger:hover {
            opacity: 1;
            cursor: pointer;
            animation: vars.$animation-font-size-up-home;
        }
    }

    .home-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .title {
            font-size: 5em;
            font-weight: 700;
            color: vars.$color-home-text;
            margin-bottom: 1vw;
            opacity: 0;
            animation: vars.$animation-appear-home;
            animation: vars.$animation-slide-left-home;
        }
        .subtitle {
            font-size: 4em;
            font-weight: 400;
            color: vars.$color-home-text;
            margin-bottom: 1vw;
            opacity: 0;

            animation: vars.$animation-slide-right-home;
        }
        .description {
            font-size: 1.5em;
            font-weight: 400;
            color: vars.$color-home-text;
            margin-bottom: 1vw;
            opacity: 0;

            animation: vars.$animation-slide-right-home;
        }
        .button {
            background-color: vars.$color-home-button;
            color: vars.$color-home-button-text;
            padding: 1vw 2vh;
            border: none;
            border-radius: 5px;
            font-size: 1.5em;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.3s ease;
            opacity: 0;

            animation: vars.$animation-slide-right-home;

            &:hover {
                background-color: vars.$color-home-button-hover;
            }
        }
    }

    .hidden {
        display: none;
    }
}
