@use "../styles/vars" as vars; // import des variables css

.home {
    background-color: vars.$background-color-home;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: vars.$font-family-titles;

    .trigger-container {
        .trigger {
            position: absolute;
            top: calc(50% - 25vw);
            left: calc(50% - 25vw);

            background-color: vars.$background-color-trigger;
            border: none;
            opacity: 1;

            .logo {
                width: 50vw;
            }
            .progressFull {
                animation: vars.$progress-opacity;
            }
        }
    }

    .option-container {
        position: absolute;
        top: 20em;
        right: 2em;
        width: 8em;
        height: 5em;
        border-radius: 10%;
        background-color: vars.$background-color-option-container;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: width 0.3s ease-in-out;
        color: vars.$color-home-option;
        z-index: 0;

        .title {
            font-size: 1.5em;
            font-weight: 700;
        }
    }

    .option-container:hover {
        width: 10em;
        height: 30em;
        justify-content: flex-start;
        align-items: center;
        animation: vars.$boxup;
        z-index: 10;

        .title {
            margin: 1em 0 2em 0;
        }

        .option-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2vw;
            font-size: 1.2em;
            font-weight: 500;
        }
    }
    .option-content {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .option-container:hover .option-content {
        opacity: 1;
    }

    .home-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        white-space: nowrap;
        .title {
            font-size: clamp(3em, 6vw, 12em);
            font-weight: 700;
            color: vars.$color-home-text;
            margin-bottom: 0.2em;
            opacity: 0;
            animation: vars.$appear;
            animation: vars.$slide-left;
        }
        .subtitle {
            font-size: clamp(3em, 6vw, 10em);
            font-weight: 400;
            color: vars.$color-home-text;
            margin-bottom: 0.2em;
            opacity: 0;
            animation: vars.$slide-right;
        }
        .description {
            font-size: clamp(1em, 3vw, 4em);
            font-weight: 400;
            color: vars.$color-home-text;
            margin-bottom: 0.2em;
            opacity: 0;
            animation: vars.$slide-right;
        }
    }

    .hidden {
        display: none;
    }
}

.home::before {
    content: "";
    position: fixed;
    top: -190em;
    left: 100em;
    width: 1800rem;
    height: 50vh;
    background-color: vars.$background-color-home-before;
    transform: translate(-65%, -50%) rotate(45deg);
    z-index: -1;
}

@media screen and (max-width: 1005px) {
    .option-container {
        background-color: vars.$background-color-option-container-dark !important;
    }
}

@media screen and (max-width: 768px) {
    .home {
        justify-content: center;
        .home-container {
            .title {
                font-size: clamp(5em, 14vw, 16em);
                margin-bottom: 2em;
                .title-span {
                    display: none;
                }
            }
            .subtitle {
                font-size: clamp(2em, 7vw, 10em);
                margin-bottom: 4em;
                font-weight: 500;
            }
            .description {
                font-size: clamp(1em, 4vw, 5em);
                margin-bottom: 2em;
                font-weight: 500;
            }
        }
        .option-container {
            display: none;
        }
    }
}

@media screen and (orientation: landscape) {
    .home {
        .home-container {
            .title {
                font-size: clamp(5em, 12vw, 16em);
                margin-bottom: 0.2em;
                .title-span {
                    display: none;
                }
            }
            .subtitle {
                font-size: clamp(2em, 6vw, 10em);
                margin-bottom: 0.4em;
                font-weight: 500;
            }
            .description {
                font-size: clamp(1em, 4vw, 5em);
                margin-bottom: 2em;
                font-weight: 500;
            }
        }
        .option-container {
            display: none;
        }
    }
}
