@use "../styles/vars" as vars; // import des variables css

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100svh;
    background-color: vars.$background-color-global;
}
