.info-container {
    text-align: center;
    .info {
        font-size: 2em;
    }
}

.header-modal {
    text-align: center;
    .modal-title {
        font-size: 2em;
        margin-top: 0.8em;
    }
}
