.projects {
    height: 100%;

    .title-container {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        .title {
            font-weight: 800;
            font-size: 4em;
        }
    }

    .carousel-container {
        .image-container {
            .image-project {
                width: 65%;
                height: 100%;
            }
        }
    }
}

.carousel-status {
    display: none;
}

.carousel.carousel-slider .control-arrow {
    position: absolute;
    height: 0%;
    width: 0%;
    left: 90%;
    top: 50%;
    margin-top: 200px !important;

    &:hover {
        background-color: transparent !important;
    }
}

.carousel .control-prev.control-arrow {
    left: 7.8% !important;
}

.carousel .control-next.control-arrow:before {
    border-left: 8px solid #000;
    transform: scale(3);
}

.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #000;
    transform: scale(3);
}

.control-arrow.control-next {
    position: absolute;
}
