@use "../styles/vars" as vars; // import des variables css

.projects {
    .title-container {
        height: 20%;
        display: flex;
        justify-content: center;
        margin: 5em 0 0 0;
        .title {
            font-weight: 500;
            font-size: clamp(3em, 5vw, 5em);
            color: vars.$color-projects-title;
            font-family: vars.$font-family-titles;
        }
    }

    .carousel-container {
        height: 100em;
        display: flex;
        align-items: center;

        .image-container {
            position: relative;
            margin-right: 0;
            max-width: 70%;
            right: -15%;

            .image-project {
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;
                width: 100%;
                height: 100%;
            }
            .info-container {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                background-color: rgba(228, 223, 223, 0.89);
                color: #000000;

                .title-container {
                    margin: 0 2em;
                    padding: 2em 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #000000;
                    .info-title,
                    .number {
                        font-size: clamp(1.5em, 3.5vw, 3em);
                        font-family: vars.$font-family-titles;
                        font-weight: 800;
                        text-align: start;
                    }
                }
                .description {
                    font-family: vars.$font-family-texts;
                    line-height: 1.3em;
                    font-weight: 600;
                    height: 100%;
                    font-size: clamp(1em, 2.5vw, 2em);
                    margin: 2em;
                    display: flex;
                    align-items: center;
                }
            }

            .hidden {
                display: none;
            }
        }

        .info-container2 {
            display: none;
        }
    }

    .seeMore {
        margin-top: 3em;
        font-size: 2em;
    }
}

.carousel-status {
    display: none;
}

.carousel.carousel-slider .control-arrow {
    position: absolute;
    height: 0%;
    width: 0%;
    left: 90%;
    margin-top: clamp(1em, 14.1vw, 30em) !important;

    &:hover {
        background-color: transparent !important;
    }
}

.carousel .control-prev.control-arrow {
    left: 8.4% !important;
}

.carousel .control-next.control-arrow:before {
    border-left: 8px solid #000;
    transform: scale(3);
}

.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #000;
    transform: scale(3);
}

button.control-arrow.control-prev::before {
    position: absolute;
    right: 0%;
    top: 120%;
}

.control-arrow.control-next {
    position: absolute;
}

@media screen and (max-width: 768px) {
    .carousel.carousel-slider .control-arrow {
        display: none;
    }

    .carousel-container {
        height: 60em !important;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .info-container {
            display: none !important;
        }

        .info-container2 {
            max-width: 55%;
            height: 19.5em;
            display: flex !important;
            flex-direction: column;
            justify-content: space-around;

            margin: 3em auto;

            background-color: vars.$background-color-projects-info-container2;
            color: #000000;
            border-top-left-radius: 15px;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;

            .title-container {
                display: flex;
                align-items: center;
                justify-content: space-around;
                border-bottom: 1px solid #000000;
                margin: 0;
                .info-title,
                .number {
                    font-family: vars.$font-family-titles;
                    font-weight: 800;
                }
            }
            .description {
                font-family: vars.$font-family-texts;
                line-height: 2em;
            }
        }

        .image-container {
            max-width: 55% !important;
            right: -22.5% !important;
        }
    }
}
